  <!DOCTYPE html>
<html>
<head>

</head><body>
    <body background="VYSHNAVI.jpg">
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>
              
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                      <li><a href="/">Home </a></li>
                      <li><a href="/Calculation">Calculation</a></li>
                      <li><a href="/contact">contact</a></li>
                      <li><a href="/guestbook">Guest Book</a></li>
                    </ul>
                  </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
              <header class="section-header"><h1>Calculation</h1></header>
        <form>
                <div class="form-group">
                  <label >Enter the number of orders</label>
                  <input type="text" class="form-control"  id="orders" placeholder="orders">
                  
                  
                </div>
                <br>
                <div class="form-group">
                  <label >Enter the number of orders to be cancelled</label>
                  <input type="text" class="form-control" id="orders cancelled" placeholder="orders cancelled" >
                </div>
                <button type="submit" class="btn btn-default" onclick="convert()"> Submit :</button>
              </form>
              <div id="result"></div>
              <footer id="gh">
                    <p><em>s531383@nwmissouri.edu</em></p><a href="https://www.facebook.com/yalamareddy.vyshnavi" class="fa fa-facebook"></a>
                    <a href="https://bitbucket.org/vyshnavireddyy/" class="fa fa-bitbucket"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="https://github.com/vyshnaviyreddy" class="fa fa-github"></a>
                    </footer>
                    <!-- Latest compiled and minified CSS -->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
                    <!-- Optional theme -->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
                    
                    <!-- Latest compiled and minified JavaScript -->
                    
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
                    <script src="funct.js"></script>
                    
              </body>
              </html>