<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Vyshnavi</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
<Link rel = "Stylesheet" type="text/css" href="vyshnavi.css"/>
</head>
<body >
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Vyshnavi</a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav">
                        <li><a href="/">Home </a></li>
                        <li><a href="/Calculation">Calculation</a></li>
                        <li><a href="/contact">contact</a></li>
                        <li><a href="/guestbook">Guest Book</a></li>
                       
                      </ul>
                      
                      
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
              </nav>
<img src="vikky_reddy.jpg" alt="a">
<article id="cd">
<section>
<header class="section-header">Current</header>
<p>I am a new student of the spring 2018 batch for Masters in Applied Computer Science.</p>
</section>
<section id=past-section>
<header class="section-header">Background</header>
<p>I am from India. I had done my Bachelors from Jawaharlal Nehru Technological University with 73% in the year 2017 in 
the stream of Electronics and Communication Engineering.</p>
</section>
<section id=future-section>
<header class="section-header">Plans</header>
<p>I want to see myself as a software developer.</p>
</section>
</article>
<aside id="zx">
<section>
<header class="aside-header">Interests</header>
<p>I am very much interested in the areas of UI and Mobile Application Development.</p>
</section>
<section>
<header class="aside-header">Hobbies</header>
<p>I like Reading Books and cooking food.</p>
</section>
</aside>
<footer id="gh">
<p><em>s531383@nwmissouri.edu</em></p><a href="https://www.facebook.com/yalamareddy.vyshnavi" class="fa fa-facebook"></a>
<a href="https://bitbucket.org/vyshnavireddyy/" class="fa fa-bitbucket"></a>
<a href="#" class="fa fa-google"></a>
<a href="https://github.com/vyshnaviyreddy" class="fa fa-github"></a>
</footer>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="funct.js"></script>
</body>
</html>