img{
	
	border-radius: 50%;
	height: 150px;
	width: 10%;
}
body{
	color:rgb(224, 18, 18);
	
	background-image: url("VYSHNAVI.jpg");

}


.section-header{
	
	font-size:19px;
	font-family:Georgia;
	text-align:left;
}
#past-section{
	
	font-size:19px;
	font-family:serif;
	text-align:right;
}
#future-section{
	
	font-size:25px;
	font-family:fantasy;
	text-align:center;
}
.aside-header{
	
	font-size:20px;
	font-family:monospace;
	text-align:left;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-bitbucket {
	background: #55ACEE;
	color: white;
  }
  
  .fa-google {
	background: #dd4b39;
	color: white;
  }
  
  .fa-github {
	background: #007bb5;
	color: white;
  }
  